body{
    width: 1330px;
    margin:  0 auto;
    font-family: Raleway, sans-serif;
}
h1{
    font-size: 22px;
}
input{
    font-family: Raleway, sans-serif;
}
.section__container{
    display: flex;
    justify-content: center;
}
.file-manager{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 15px;
    min-height: 300px;
    min-width: 380px;
}
.file-manager__pager{
    display: flex;
}
.file-manager__pager-directory{
    cursor: pointer;
}
.file-manager__pager-directory--hidden{
    display: none;
}
.file-manager__directories{
    margin-top: 15px;
}
.file-manager__directory{
    display: flex;
    align-items: center;
    border: 1px solid black;
    max-width: 300px;
    user-select: none;
    cursor: pointer;
    min-width: 300px;
}
.file-manager__delete{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ff3333;
    margin-left: 5px;
}
.file-manager__delete:hover{
    background: #ff9a9a;
}
.file-manager__delete-icon{
    max-width: 20px;
    max-height: 20px;
}
.file-manager__container{
    display: flex;
    margin-bottom: 15px;
    height: 43px;
}
.file-manager__fle{
    display: flex;
    align-items: center;
    border: 1px solid black;
    max-width: 300px;
    user-select: none;
    cursor: pointer;
    min-width: 300px;
    height: 43px;
    margin-bottom: 15px;
}
.file-manager__directory:last-child{
    margin-bottom: 0;
}
.file-manager__directory-folder{
    padding: 10px;
    border-right: 1px solid black;
}
.file-manager__directory-name{
    color: black;
    padding-left: 10px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
input{
    margin-top: 10px;
    height: 19px;
}
input[type = "submit"]{
    margin-top: 5px;
    height: 25px;
    background: #fff;
    border: 1px solid #7a4dff;
    cursor: pointer;
}
.file-manager__pager-slash{
    cursor: pointer;
}

input[type = "submit"]:hover{
    background: #b39aff;
    color: #ffffff;
}
.create-directory{
    margin-left: 20px;
}
.upload-file{
    margin-left: 20px;
}
.upload-file input[type = "submit"]{
    margin-top: 11px;
}
.file-manager__pager-container{
    display: flex;
    justify-content: space-between;
}
.file-manager__sort{
    position: relative;
}
.file-manager__sort-img{
    padding: 0;
    cursor: pointer;
}
.file-manager__sort-options{
    display: none;
    position: absolute;

}
.file-manager__sort-option{
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    background: #ffffff;
}